.pie-chart-column {
    flex: 2; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left: 20px; 
}

.pie-chart-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px; 
}

.chart-wrapper {
    width: 150px; 
    height: 150px; 
    margin: 0; 
}

@media (max-width: 768px) {
    .chart-wrapper {
        width: 100px;
        height: 100px;
    }
}
